.confirm-booking {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  padding-top: 10px; 
}

div.icon-circle-check {
  display: flex;
  justify-content: center; 
  align-items: center; 
  color: green; 
  font-size: 60px; 
  margin: 30px; 
  vertical-align: middle; 
}

.confirm-booking-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 30px;
}

div.props {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
  font-weight: bold;
  gap: 10px;
}

div.values {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  font-style: italic;
  gap: 10px;
  color: #333;
}
